

<!-- <app-template-driven-f></app-template-driven-f> -->
<app-reactive-form></app-reactive-form>

<!-- <h3 *ngIf="ReadBooks | async as message"> {{ message }} </h3>  -->
<ul>
    <li *ngFor="let data of book123">
    category:{{data.category}} Year:{{data.year}}</li>
</ul>
<h1>All Res</h1>
<ul>
    <li *ngFor="let data23 of fullresponse">
    category:{{data23.category}} Year:{{data23.year}}</li>
</ul>


  <br>
  <div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Left</button>
                <button type="button" class="btn btn-primary">Middle</button>
                <button type="button" class="btn btn-primary">Right</button>
              </div>
        </div>
        <div class="col-sm-5">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
    </div>
  </div>